body {
	color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
	background-color: black;
}

#main {
	padding-top: 56px;

	background-image: url('../img/bg.jpg');
	height: 100vh;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

a, a:hover {
	color: rgb(244, 6, 18);
}

.navbar-glossy {
	background-color: rgba(0, 0, 0, 0.8) !important ;
}

.navbar-brand {
	color:rgb(244, 6, 18) !important;
	font-weight: 600;
	text-transform: uppercase;
}

.footer {
	position: absolute;
	bottom: 0;
	height: 60px; /* Set the fixed height of the footer here */
	line-height: 60px;
}

.footer p {
	margin-bottom: 0;
}


.back-container {
	background: rgba(0, 0, 0, 0.75);
	padding: 10px;
}

/* Searchbar */
/* .input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.red-border  {
    border: 1px solid #ef9a9a;
}
.input-group.md-form.form-sm.form-2 input.lime-border  {
    border: 1px solid #cddc39;
}
.input-group.md-form.form-sm.form-2 input.amber-border  {
    border: 1px solid #ffca28;
} */